.caption {
    color: tan;
    font-size: 48px;
    text-align: center;
}
.text {
    width: 400px;
    margin:  0 auto 50px;
    text-transform: capitalize;
}
.picture {
    width: 500px;
    margin: 0 auto 50px;
    display: block;
}
.btn { 
    font-size: 20px;
    padding: 10px 15px;
}